body {
    background: #F0F0F0;
    font-family: "Myriad Pro";
    font-size: 12pt;
    margin: 0px;
}

#menu {
    background: #FFFFFF;
    margin-bottom: 20px;
    border-bottom: solid 1px #C9C9C9;
    padding: 20px;
    height: 30px;
}


.center {
    width: 960px;
    margin: auto;
}

#title{
    font-size: 24pt;
    color: #FFB000;
    float: left;
}

.menu_item {
    float: right;
}

.meun_item::after{
    clear: both;
}


@media only screen and (max-width: 500px) {
    #content {
        padding: 10px;
    }
}

@media only screen and (min-width: 500px) {
    #content {
        width: 500px;
        margin: auto;
    }
}
